
<div class="row">
    <div class="col-6">
        <input type="text" id="text-1" class="form-control" />
    </div>
    <div class="col-6">
        <select id="select-1" class="form-control">
            <option value="value-1">Description One</option>
            <option value="value-2">Description Two</option>
        </select>
    </div>
    <div class="col-2">
        <label>
            <input type="checkbox" id="chk-1" />
            Checkbox
        </label>
    </div>
    <div class="col-4">
        <label>
            <input type="radio" name="rdb-1" value="opt-1" />
            Option 1
        </label>
        <label>
            <input type="radio" name="rdb-1" value="opt-2" />
            Option 2
        </label>
    </div>
    <div class="col-2">
        <button id="btn-1" class="btn btn-primary">Get Data!</button>
    </div>
    <div id="list-data-getted" class="col-12">
    </div>
</div>
