html, body {
    height: 100%;
  }
  
  /*body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }*/
  
  .connected {
    color: green;
  }
  
  .desconnected {
    color: red;
  }
  
  .card .card-collapse{
    text-decoration: none;
    color: inherit;
    float: right;
    font-weight: 900;
  }

  .card .card-collapse::before{
    content: '-';
  }
  .card .card-collapse.collapsed::before{
    content: '+';
  }